[Unit]
Description=DDNS TP-Link Server
After=network.target

[Service]
Type=forking
User=username
Group=username
WorkingDirectory=/home/username/ddns_tplink
Environment=PATH=/home/username/ddns_tplink/.venv/bin
ExecStart=/home/username/ddns_tplink/.venv/bin/gunicorn --config gunicorn.conf.py --daemon ddns_server:username
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
