[Unit]
Description=DDNS TP-Link Server
After=network.target

[Service]
Type=forking
User=app
Group=app
WorkingDirectory=/home/app/projects/ddns_tplink
EnvironmentFile=/home/app/projects/ddns_tplink/.env
Environment=PATH=/home/app/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PIDFile=/home/app/projects/ddns_tplink/ddns_server.pid
ExecStart=/home/app/.local/bin/gunicorn --config gunicorn.conf.py --daemon --pid ddns_server.pid ddns_server:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
