[Unit]
Description=DDNS TP-Link Server
After=network.target

[Service]
Type=forking
User=app
Group=app
WorkingDirectory=/home/app/ddns_tplink
Environment=PATH=/home/app/ddns_tplink/.venv/bin
ExecStart=/home/app/ddns_tplink/.venv/bin/gunicorn --config gunicorn.conf.py --daemon ddns_server:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
